body {
  background-color: #2A2B2DFF;
}
h1 {
  color: #2DA8D8FF;
  padding: 30px;
}

table, th, td {
  width: 50%;
  padding: 15px;
  border: 2px solid #D9514EFF;
  border-collapse: collapse;
  color: #2DA8D8FF;
  background-color: #2A2B2DFF ;
}
form,label {
  color: #2DA8D8FF;
  padding: 6px;
}

input{
  background-color: lightgray;
}

img{
  z-index: -1;
}

button{
  margin-left: 1rem;
}